@font-face {
    font-family: 'Poppins';
    src: url(/Poppins-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.nav-links{
    position: absolute;
    margin-left: 15%;
}
.nav-links .fa-xmark {
    display: none;
  }
  
nav .fa-bars {
    display: none;
  }


.back-video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
  }

  html{
    scroll-behavior: smooth;
  }
.header { 
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
}

nav{
    /* margin-top: 80px;
    height: 60px;
    background: #000;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); */
    width: 100%;
    height: 63px;
    background: #000;
    display: flex;
    position: fixed;
    z-index: 1;
    padding: 10px;
}
#menu{
  margin-top: -9px;
  margin-left: 100px;
}
.logo{
    width: 210px;
    height: 50px;
    margin-top: -5px;
    cursor: pointer;
}

nav ul{
    /* padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
    width: 60%; */
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul li{
    background: #000;
    position: relative;
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    text-align: center;
}

nav ul li a{
    display: block;
    padding: 0 40px;
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    font-size: 15px;
    transition: 0.4s;
}
.home,.Papers,.Years,.Connect,.Contact{
  background: #ffff00;
  color:black;
}
nav ul li a:hover{
    background: #ffff00;
    color: #000;
}

nav ul ul{
    position: absolute;
    top: 60px;
    display: none;
    text-align: center;
}

nav ul li:hover > ul{
    display: block;
}

nav ul ul li,.years{
    width: 149px;
    float: none;
    display: list-item;
    position: relative;
}
/* nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 150px;
} */

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text-box h1 {
    font-size:40px;
    margin: 10px 0 40px;
  }
  
  .text-box p {
    margin: 10px 0 80px;
    font-size: 18px;
  }
  
  .visit-btn {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 12px 24px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
  }
  
  .visit-btn:hover {
    background: #ffff00;
    padding: 20px 30px;
    color: #000;
  }

  .Courses_Offered{
    background: #fff;
    color: #000;
  }

  .Courses_Offered h1{
    text-align: center;
    font-size: 2rem;
  }

  .Courses_Offered p{
    padding: 20px 8%;
  }


  .user-pic{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
  }

nav #bars-ico{
  color: #fff;
  font-size: 28px;
  line-height: 60px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}

#music-ico{
  font-size: 20px;
  color: #fff;
  float: right;
  text-align: center;
  margin-right: 8%;
  margin-top: 7px;
  cursor: pointer;
}
.vinyl{
  display: block;
  position: fixed;
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.vinyl img{
  width: 40px;
  margin-top:680px;
  margin-left:1440px;

}

.footer{
  background-color: #000;
  color: #fff;
  padding-top: 2%;
}

.footer h4{
  font-size: 90%;
  text-align: center;
  margin-top: 1%;
}
.footer hr{
  line-height: 10px;
}

.footer-cont{
  text-align: center;
}

.use-cont{
  text-align: left;
  position: relative;
}

.use-cont h4{
  margin-left: -75%;
  margin-bottom: 1%;
  margin-top: 3%;
}

.use-cont ul li{
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 10%;
}

.use-cont ul li a{
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

.use-cont ul li a:hover{
  border-top: 1px solid #ffff00;
  border-bottom: 1px solid #ffff00;
  margin-left: 1%;
}


.s-t-t{
  z-index: 1;
  position: fixed;
  background: #ffff00;
  text-decoration: none;
  color: #000;
  width: 45px;
  height: 45px;
  display: flex;
  margin: 45% 0 0 95%;
  transition: 0.4s;
  box-shadow: 0 4px 14px #ffff00;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  font-weight: 200;
  border-radius: 50%;
}

.s-t-t:hover{
  width: 190px;
  /* height: 4%; */
  transition-delay: 0.5em;
  margin: 45% 0 0 86%;
  align-items: center;
  border-radius: 0%;
}

.s-t-t::before{
  content: "";
  position: absolute;
  right: 25px;
  width: 12px;
  height: 12px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  transform: rotate(-45deg);
  top: 19px;
  left: 14px;

}

.s-t-t:hover::before{
  transform: rotate(-45deg) translate(-50px,50px);
}

.s-t-t::after{
  content: "";
  position: absolute;
  left: -50px;
  width: 12px;
  height: 12px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  transform: rotate(45deg) translate(-50px,50px);
}

.s-t-t:hover::after{
  transform: rotate(-45deg) translate(50px,55px);
  margin-left: 75%;
}
.s-t-t span{
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  transition: 0.4;
}
.s-t-t:hover span{
  visibility: visible;
  opacity: 1;
  transition-delay: 0.1s;
  transform: translate(-0px);
}

#mp-play{
  transition: 0.4s;
  font-size: 22px;
}
#mp-play:hover{
  transform: rotate(90deg);
}

.music-player{
  background: #fff;
  width: 400px;
  padding: 95px 35px;
  margin-top: 4%;
  text-align: center;
  display: none;
}

.music-player:hover > {
  display: block;
}

.container{
  height: 350px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
}

.slide-posts{
  display: flex;
  width: calc(250px * 16);
  animation: scroll 15s linear infinite;
}

.slide-posts:hover{
  animation: none;
}

@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px*8));
  }
}
/* B.Tech Card */
.Btech-card {
  background: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7));
  position: relative;
  margin: 20px 0 0 25px;
  width: 350px;
  height: 400px;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 35px black;
  overflow: hidden;
  display: inline-block;
}

.Btech-card .Btech-img {
  position: relative;
  overflow: hidden;
}
.Btech-card .Btech-img::before {
  content: "";
  position: absolute;
  bottom: -220px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(4, 9, 30, 0.6) 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.Btech-card:hover .Btech-img::before {
  bottom: 0px;
}
.Btech-card .B.tech-img img {
  width: 100%;
}

.B.tech-card:hover .Btech-img img {
  transform: translateY(-10px);
  filter: blur(1.2px);
}

.Btech-card .Btech-det {
  position: absolute;
  width: 100%;
  bottom: -190px;
  right: 0;
  z-index: 1;
  padding: 20px;
  transition: 0.5s;
}
.Btech-card:hover .Btech-det {
  bottom: 40px;
}
.Btech-card .Btech-det h2 {
  font-size: 35px;
}
.Btech-card .Btech-det h3 {
  text-align: left;
}

.Btech-card .Btech-det h5 {
  font-size: 15px;
  text-align: left;
  margin-left: 10%;
  margin-top: 30px;
  line-height: 20px;
}

.wrapper{
  display: flex;
  animation: slide 5s infinite;
}

@keyframes slide{
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(0);
  }
  30%{
    transform: translateX(-100%);
  }
  50%{
    transform: translateX(-100%);
  }
  55%{
    transform: translateX(-200%);
  }
  75%{
    transform: translateX(-200%);
  }
  80%{
    transform: translateX(-300%);
  }
  100%{
    transform: translateX(-100deg);
  }
}














@media (max-width: 600px){
nav ul{
  margin-top: 100px;
  margin-right: 100%;
  display: block;
}

#mp-play{
  display: flex;
  flex-direction: column;
  margin-left: 7.5rem;
  margin-top: 2%;
}

.s-t-t{
  display: none;
}

.s-t-m{
  z-index: 1;
  position: fixed;
  background: #ffff00;
  text-decoration: none;
  color: #000;
  width: 45px;
  height: 45px;
  display: flex;
  margin: 38.5rem 0 0 85%;
  transition: 0.4s;
  box-shadow: 0 4px 14px #ffff00;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.1em;
  font-weight: 200;
  border-radius: 50%;
}

.s-t-m::before{
  content: "";
  position: absolute;
  right: 25px;
  width: 12px;
  height: 12px;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
  transform: rotate(-45deg);
  top: 18px;
  left: 15px;
}

.logo{
  margin-left: -1.5rem;
}
nav ul{
  display: none;
}

.nav-links .fa-xmark {
    display: block;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
  }

  nav .fa-bars {
    display: block;
    color: #fff;
    margin: 5px;
    margin-right: 6%;
    margin-bottom: 4%;
    font-size: 25px;
    cursor: pointer;
  }
}